@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Canis Minor";
  src: url('/fonts/canis_minor.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #e7e7e0;
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

body {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: relative;
    background: #0B0C10;
    background-image: url(/img/звезды1.png);
}



.header{
    align-items: center;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.navigation{
    
    font-family: "Canis Minor";
    color: white;
    font-weight: 100;
    display: flex;
    gap: 5rem;
    justify-content: center;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.footer{
    font-family: "Canis Minor";
    color: white;
    font-weight: 100;
    display: flex;
    justify-content: space-around;
}

.title-footer{
font-size: 20px;
}

.footer ul {
    margin: 1rem;
     list-style-type: none;
}

body::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/звезды3.png);
}

body::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(/img/звезды2.png);
}

.main-header,
.content__container {
    height: 100vh;
}

.layers {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.layers img {
    position: absolute;
    width: 3.5%;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 3;
    animation: bounce 2s infinite;
    opacity: calc(1 - var(--scrollTop2) / 500);
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    will-change: transform;
    z-index: 2;
    transition: var(--transition);
}

.layers__base {
    transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
    z-index: 0;
}

.layers__middle {
    transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.layers__front {
    transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}

.layer__header {
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
    transition: var(--transition);
    will-change: transform;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--text);
    text-shadow: 0 0 15px #9d822b;
    opacity: calc(1 - var(--scrollTop2) / 500);
}

.layers__title {
    
    font-size: clamp(1.5rem, 1.148rem + 1.502vw, 2.5rem);
    letter-spacing: clamp(0.25rem, 0.162rem + 0.376vw, 0.5rem);
}

.layers__caption {
   
    font-size: clamp(0.6rem, 0.459rem + 0.601vw, 1rem);
    letter-spacing: clamp(0.2rem, 0.112rem + 0.376vw, 0.45rem);
    margin-top: clamp(-0.8rem, -0.73rem + -0.3vw, -1rem);
}

.content__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content__container_new {
    text-align: center;
    margin-bottom: 5rem;
}

/* .content__container_new .content__container {
    height: 90vh;
} */

.left{
    border-radius:  0px 15px 15px 0px;
    padding: 0.7rem;
    width: 50%;
    height: 60%;
    background: linear-gradient(to bottom, #1f2a3ae8 0%, #1f2a3a20 100%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.121);
}

.right{
    border-radius:  15px 0px 0px 15px;
     padding: 0.7rem;
    width: 50%;
    height: 60%;
    background: linear-gradient(to bottom, #1f2a3ae8 0%, #1f2a3a20 100%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.121);
}


.block{
    gap: 2rem;
    padding: 2rem clamp(3.125rem, 1.923rem + 19.231vi, 25rem) ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.block .text__block {
    width: 100%;
    height: 100%;
    border-radius:  0px 15px;
}



.planet {
    width: 30%;
    /* animation: bounce 2s infinite; */
}

.univers {
    margin-right: -4rem;
    width: clamp(12.5rem, 2.632rem + 39.474vi, 50rem);
}

.text__block {
    padding: 0.7rem;
    width: 50%;
    height: 60%;
    background: linear-gradient(to bottom, #1f2a3ae8 0%, #1f2a3a20 100%);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.121);
}

.text{
    margin-top: 1rem;
    color: white;
    font-size: 20px;
    font-weight: 100;
}

.text-center{
    margin-top: 2rem;
    color: white;
    font-size: 20px;
    font-weight: 100;
    padding:0px 25rem;
}

.title {
    font-family: 'Canis Minor' ;
    font-weight:500;
    font-size: 50px;
    color: white;
}

.title_block{
    font-family: 'Canis Minor' ;
    font-weight:500;
    font-size:  90px;
    color: white;
}

.slider__el {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* .slider__el::before {
    position: absolute;
    width: 500px;
    height: 400px;
} */

.slider__header {
    font-size: 2.5rem;
    color: #e7e7e0;
    font-weight: 800;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-20%);
    }
}

/* @media(min-width: 350px  ) and (max-width: 900px){
    .block .text__block {
    width: 70%;
}
    .block{
    justify-content: center;
    padding: 2rem 1rem ;
}
} */